* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ccc;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.apply-box {
    max-width: 600px;
    padding: 20px;
    background: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;
}

.small {
    font-size: 20px;
}

.form-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.form-control {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 15px;
}

input,
select,
textarea {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    margin-bottom: 10px;
}

input,
address:focus {
    outline-color: #c6c6c6;
}

textarea:focus {
    outline-color: #c6c6c6;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

button {
    background-color: red;
    border: transparent solid 2px;
    padding: 5px 10px;
    border-radius: 8px;
    color: #fff;
    transition: 0.3s ease-in;
}

button:hover {
    background: whitesmoke;
    cursor: pointer;
    color: black;
    transition: 0.3s ease-out;
    border: 2px solid grey;
}

.textarea-control {
    grid-column: 1 /span 2;
}

.textarea-control textarea {
    width: 100%;
}

@media (max-width:460px) {
    .textarea-control {
        grid-column: 1 /span 1;
    }

}

input[type="file"]::file-selector-button {
    background: red;
    color: white;
    border-radius: 15px;
    height: 35px;
    transition: 0.3s ease-in;
}

input[type="file"]::file-selector-button:hover {
    background: white;
    border: 1px solid grey;
    color: black;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}